# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Administrator.DESKTOP-NRESHO9\Desktop\人工智能\教育+人工智能\知识追踪\有代码\PEBG-master\PEBG-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
